{% extends 'base.html' %} {% block content %}

<h1>Home</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis praesentium
  quis cum aspernatur. Facilis, maiores eligendi vero non quidem nihil tenetur.
  Delectus et dignissimos vel laudantium aliquam repellendus magni ducimus ad
  quasi, veritatis dolore ex sapiente culpa, esse est dicta ratione eligendi
  rerum ipsum. Ipsam corrupti unde nisi, eveniet reiciendis vitae consectetur
  eum tempore provident laudantium ab, a quae esse similique. Laudantium alias
  quos atque qui doloremque, ad dolorem saepe tempore voluptatibus veniam quia
  voluptatem necessitatibus assumenda iste nostrum voluptate, perferendis magni
  error, nesciunt quis delectus! Voluptate, debitis earum itaque quod at,
  repellat neque eligendi, illum consectetur in cupiditate laborum?
</p>

{% endblock %}
