{% extends 'base.html' %} {% block content %}

<main class="container py-5">
  <section class="card card-body">
    <h1 class="display-2 text-center">Welcome</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
      praesentium quis cum aspernatur. Facilis, maiores eligendi vero non quidem
      nihil tenetur. Delectus et dignissimos vel laudantium aliquam repellendus
      magni ducimus ad quasi, veritatis dolore ex sapiente culpa, esse est dicta
      ratione eligendi rerum ipsum. Ipsam corrupti unde nisi, eveniet reiciendis
      vitae consectetur eum tempore provident laudantium ab, a quae esse
      similique. Laudantium alias quos atque qui doloremque, ad dolorem saepe
      tempore voluptatibus veniam quia voluptatem necessitatibus assumenda iste
      nostrum voluptate, perferendis magni error, nesciunt quis delectus!
      Voluptate, debitis earum itaque quod at, repellat neque eligendi, illum
      consectetur in cupiditate laborum?
    </p>
    <div class="container text-center">
      <a class="btn btn-dark" href="{% url 'signin' %}">Sign In</a>
      <a class="btn btn-dark" href="{% url 'signup' %}">Sign Up</a>
    </div>
  </section>
</main>

{% endblock %}
