{% extends 'base.html' %} {% block content %} {{ error }}

<main class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 mt-4">
      <h1 class="text-center text-secondary">{{ task }}</h1>

      {% if task.dateCompleted is not none %}
      <h3 class="text-center text-success">Completed</h3>
      {{ form.as_p }} {% else %}
      <h3 class="text-center text-danger">Not Completed</h3>

      <form method="POST">
        {{ form.as_p }} {% csrf_token %}
        <button class="btn btn-dark" type="Submit">Update</button>
      </form>

      <div class="d-flex mt-2">
        <form action="{% url 'complete_task' task.id %}" method="POST">
          {% csrf_token %}
          <button class="btn btn-success">Completed</button>
        </form>

        <form action="{% url 'delete_task' task.id %}" method="POST">
          {% csrf_token %}
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
      {% endif %}
    </div>
  </div>
</main>

{% endblock %}
